Repository KissKissBankBank/kitten, pull requests merged in 2021-02, with the labels that each got.

#2336 [Carousel] Fix spacing calculations
  CHANGELOG.md
  assets/javascripts/kitten/components/carousel/carousel/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/carousel/carousel/components/carousel-inner.js
  assets/javascripts/kitten/components/carousel/carousel/index.js
  assets/javascripts/kitten/components/carousel/carousel/project-carousel.stories.js
  assets/javascripts/kitten/components/carousel/carousel/styles.js
Labels: Needs review :hand:

#2337 v2.115.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/carousel/carousel/components/carousel-inner.js
  src/components/carousel/carousel/index.js
  src/components/carousel/carousel/styles.js
  src/esm/components/carousel/carousel/components/carousel-inner.js
  src/esm/components/carousel/carousel/index.js
  src/esm/components/carousel/carousel/styles.js
Labels: Kitten, Needs review :hand:

#2319 [RewardCard/BackingCard] New component
  .storybook/stylesheets/app-kitten.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/atoms/tag/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/atoms/tag/index.js
  assets/javascripts/kitten/components/atoms/tag/stories.js
  assets/javascripts/kitten/components/atoms/tag/test.js
  assets/javascripts/kitten/components/cards/backing-card/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/cards/backing-card/components/amount.js
  assets/javascripts/kitten/components/cards/backing-card/components/button.js
  assets/javascripts/kitten/components/cards/backing-card/components/description.js
  assets/javascripts/kitten/components/cards/backing-card/components/form.js
  assets/javascripts/kitten/components/cards/backing-card/components/heading-tag.js
  assets/javascripts/kitten/components/cards/backing-card/components/image.js
  assets/javascripts/kitten/components/cards/backing-card/components/index.js
  assets/javascripts/kitten/components/cards/backing-card/components/info.js
  assets/javascripts/kitten/components/cards/backing-card/components/tag-list.js
  assets/javascripts/kitten/components/cards/backing-card/components/title.js
  assets/javascripts/kitten/components/cards/backing-card/index.js
  assets/javascripts/kitten/components/cards/backing-card/stories.js
  assets/javascripts/kitten/components/cards/backing-card/styles.js
  assets/javascripts/kitten/components/cards/backing-card/test.js
  assets/javascripts/kitten/components/steppers/vertical-stepper/components/link.js
  assets/javascripts/kitten/components/typography/text/index.js
  assets/javascripts/kitten/constants/colors-config.js
  assets/javascripts/kitten/helpers/utils/use-media-query/index.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/utilities/spacing/_margin.scss
  assets/stylesheets/kitten/utilities/text/_size.scss
Labels: Needs review :hand:

#2349 v2.116.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/atoms/tag/index.js
  src/components/cards/backing-card/components/amount.js
  src/components/cards/backing-card/components/button.js
  src/components/cards/backing-card/components/description.js
  src/components/cards/backing-card/components/form.js
  src/components/cards/backing-card/components/heading-tag.js
  src/components/cards/backing-card/components/image.js
  src/components/cards/backing-card/components/index.js
  src/components/cards/backing-card/components/info.js
  src/components/cards/backing-card/components/tag-list.js
  src/components/cards/backing-card/components/title.js
  src/components/cards/backing-card/index.js
  src/components/cards/backing-card/styles.js
  src/components/typography/text/index.js
  src/constants/colors-config.js
  src/esm/components/atoms/tag/index.js
  src/esm/components/cards/backing-card/components/amount.js
  src/esm/components/cards/backing-card/components/button.js
  src/esm/components/cards/backing-card/components/description.js
  src/esm/components/cards/backing-card/components/form.js
  src/esm/components/cards/backing-card/components/heading-tag.js
  src/esm/components/cards/backing-card/components/image.js
  src/esm/components/cards/backing-card/components/index.js
  src/esm/components/cards/backing-card/components/info.js
  src/esm/components/cards/backing-card/components/tag-list.js
  src/esm/components/cards/backing-card/components/title.js
  src/esm/components/cards/backing-card/index.js
  src/esm/components/cards/backing-card/styles.js
  src/esm/components/typography/text/index.js
  src/esm/constants/colors-config.js
  src/esm/helpers/utils/use-media-query/index.js
  src/esm/index.js
  src/helpers/utils/use-media-query/index.js
  src/index.js
  src/stylesheets/utilities.css
Labels: Needs review :hand:

#2342 [HeaderMenu] Add `size` prop to `HeaderMenu.Item`
  CHANGELOG.md
  assets/javascripts/kitten/components/menus/header-menu/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/menus/header-menu/components/context.js
  assets/javascripts/kitten/components/menus/header-menu/components/item.js
  assets/javascripts/kitten/components/menus/header-menu/index.js
  assets/javascripts/kitten/components/menus/header-menu/styles.js
  assets/javascripts/kitten/components/navigation/header-nav/stories/kisskissbankbank.js
Labels: Needs review :hand:

#2351 v2.117.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/menus/header-menu/components/context.js
  src/components/menus/header-menu/components/item.js
  src/components/menus/header-menu/index.js
  src/components/menus/header-menu/styles.js
  src/components/navigation/header-nav/stories/kisskissbankbank.js
  src/esm/components/menus/header-menu/components/context.js
  src/esm/components/menus/header-menu/components/item.js
  src/esm/components/menus/header-menu/index.js
  src/esm/components/menus/header-menu/styles.js
  src/esm/components/navigation/header-nav/stories/kisskissbankbank.js
Labels: Needs review :hand:

#2355 [KittenV3] Remove k-Alert SCSS mixin
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/notifications/alert/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/notifications/alert/index.js
  assets/javascripts/kitten/components/notifications/alert/stories.js
  assets/javascripts/kitten/components/notifications/alert/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/notifications/_alert.scss
  src/components/notifications/alert/index.js
  src/esm/components/notifications/alert/index.js
Labels: Kitten V3 🐱, Needs review :hand:

#2354 [BackingCard] Add `hover` styles
  CHANGELOG.md
  assets/javascripts/kitten/components/cards/backing-card/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/cards/backing-card/stories.js
  assets/javascripts/kitten/components/cards/backing-card/styles.js
  assets/javascripts/kitten/components/cards/backing-card/test.js
  doc/design/colors.js
Labels: Needs review :hand:

#2330 [RadioButton] Update orion variant
  CHANGELOG.md
  assets/javascripts/kitten/components/form/field/__snapshots__/field.test.js.snap
  assets/javascripts/kitten/components/form/radio-button-set/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/radio-button/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/radio-button/index.js
  assets/javascripts/kitten/components/form/radio-button/radio-button.mdx
  assets/javascripts/kitten/components/form/radio-button/radio-button.stories.js
  assets/javascripts/kitten/components/form/radio-button/test.js
Labels: Needs review :hand:

#2357 v2.118.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/cards/backing-card/styles.js
  src/components/form/radio-button/index.js
  src/esm/components/cards/backing-card/styles.js
  src/esm/components/form/radio-button/index.js
Labels: Needs review :hand:

#2360 [DropdownSelect] Add size prop in Orion variant
  CHANGELOG.md
  assets/javascripts/kitten/components/form/dropdown-select/__snapshots__/combobox.test.js.snap
  assets/javascripts/kitten/components/form/dropdown-select/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/dropdown-select/styles.js
Labels: Needs review :hand:

#2370 [Toggletip] New component
  CHANGELOG.md
  assets/javascripts/kitten/components/atoms/tag/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/cards/backing-card/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/tooltips/toggletip/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/tooltips/toggletip/index.js
  assets/javascripts/kitten/components/tooltips/toggletip/stories.js
  assets/javascripts/kitten/components/tooltips/toggletip/test.js
  assets/javascripts/kitten/components/tooltips/tooltip/tooltip.stories.js
  assets/javascripts/kitten/constants/colors-config.js
  assets/javascripts/kitten/index.js
Labels: Needs review :hand:

#2374 v2.120.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/tooltips/toggletip/index.js
  src/constants/colors-config.js
  src/esm/components/tooltips/toggletip/index.js
  src/esm/constants/colors-config.js
  src/esm/index.js
  src/index.js
Labels: Needs review :hand:

#2365 [KittenV3] Remove ExternalRichLink
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/links/external-rich-link/index.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/links/_external-rich-link.scss
  src/components/links/external-rich-link/index.js
  src/esm/components/links/external-rich-link/index.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2362 [KittenV3] Remove old popover components
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/popovers/call-to-action-popover.js
  assets/javascripts/kitten/components/popovers/call-to-action-popover.test.js
  assets/javascripts/kitten/components/popovers/popover.js
  assets/javascripts/kitten/components/popovers/popover.test.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/popovers/_popover.scss
  src/components/popovers/call-to-action-popover.js
  src/components/popovers/popover.js
  src/esm/components/popovers/call-to-action-popover.js
  src/esm/components/popovers/popover.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2356 [KittenV3] Remove old `Tour` components and mixins
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/tours/header-tour/index.js
  assets/javascripts/kitten/components/tours/tour-popover/index.js
  assets/javascripts/kitten/components/tours/tour-step/index.js
  assets/javascripts/kitten/components/tours/tour/index.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/tours/_header-tour.scss
  assets/stylesheets/kitten/components/tours/_tour.scss
  src/components/tours/header-tour/index.js
  src/components/tours/tour-popover/index.js
  src/components/tours/tour-step/index.js
  src/components/tours/tour/index.js
  src/esm/components/tours/header-tour/index.js
  src/esm/components/tours/tour-popover/index.js
  src/esm/components/tours/tour-step/index.js
  src/esm/components/tours/tour/index.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2363 [KittenV3] Remove TagList
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/lists/tag-list/index.js
  assets/javascripts/kitten/components/lists/tag-list/test.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/lists/_tag-list.scss
  src/components/lists/tag-list/index.js
  src/esm/components/lists/tag-list/index.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2321 [KittenV3] Remove blockAlign utilities
  CHANGELOG.md
  assets/stylesheets/kitten/_utilities.scss
  assets/stylesheets/kitten/utilities/align/_align.scss
  assets/stylesheets/utilities.scss
Labels: Kitten V3 🐱, To release :rocket:

#2313 [KittenV3] Delete `DeprecatedArrowIcon`
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/accordeon/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/accordeon/components/header.js
  assets/javascripts/kitten/components/box/link-box/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/box/link-box/index.js
  assets/javascripts/kitten/components/carousel/carousel/index.js
  assets/javascripts/kitten/components/carousel/nav-tab-carousel/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/carousel/nav-tab-carousel/components/next.js
  assets/javascripts/kitten/components/carousel/nav-tab-carousel/components/prev.js
  assets/javascripts/kitten/components/date-picker/components/navbar.js
  assets/javascripts/kitten/components/date-picker/standalone-range/components/navbar.js
  assets/javascripts/kitten/components/expandable/expand-board/index.js
  assets/javascripts/kitten/components/form/dropdown-select-with-input/index.js
  assets/javascripts/kitten/components/form/dropdown-select/__snapshots__/combobox.test.js.snap
  assets/javascripts/kitten/components/form/dropdown-select/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/icons/arrow-icon/__snapshots__/arrow-icon.test.js.snap
  assets/javascripts/kitten/components/icons/arrow-icon/arrow-icon.test.js
  assets/javascripts/kitten/components/icons/arrow-icon/index.js
  assets/javascripts/kitten/components/icons/icons.stories.js
  assets/javascripts/kitten/components/lists/list/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/menus/header-menu/components/item.js
  assets/javascripts/kitten/components/navigation/pagination/index.js
  assets/javascripts/kitten/components/steppers/next/stepper/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/tables/list-table/list-table.stories.js
  assets/javascripts/kitten/karl/pages/common/projects-carousel.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/icons/_arrow-icon.scss
Labels: Kitten V3 🐱, To release :rocket:

#2380 v3.0.0-beta.2
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/accordeon/components/header.js
  src/components/box/link-box/index.js
  src/components/carousel/carousel/index.js
  src/components/carousel/nav-tab-carousel/components/next.js
  src/components/carousel/nav-tab-carousel/components/prev.js
  src/components/date-picker/components/navbar.js
  src/components/date-picker/standalone-range/components/navbar.js
  src/components/expandable/expand-board/index.js
  src/components/form/dropdown-select-with-input/index.js
  src/components/icons/arrow-icon/index.js
  src/components/menus/header-menu/components/item.js
  src/components/navigation/pagination/index.js
  src/esm/components/accordeon/components/header.js
  src/esm/components/box/link-box/index.js
  src/esm/components/carousel/carousel/index.js
  src/esm/components/carousel/nav-tab-carousel/components/next.js
  src/esm/components/carousel/nav-tab-carousel/components/prev.js
  src/esm/components/date-picker/components/navbar.js
  src/esm/components/date-picker/standalone-range/components/navbar.js
  src/esm/components/expandable/expand-board/index.js
  src/esm/components/form/dropdown-select-with-input/index.js
  src/esm/components/icons/arrow-icon/index.js
  src/esm/components/menus/header-menu/components/item.js
  src/esm/components/navigation/pagination/index.js
  src/stylesheets/utilities.css
Labels: Needs review :hand:

#2384 [Toggletip] Fix init and resize coords calculation
  CHANGELOG.md
  assets/javascripts/kitten/components/tooltips/toggletip/index.js
  src/components/tooltips/toggletip/index.js
  src/esm/components/tooltips/toggletip/index.js
Labels: Needs review :hand:

#2386 Kitten V2.120.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: Needs review :hand:

#2372 [KittenV3] Add `parseHtml` in ESM build
  CHANGELOG.md
  assets/javascripts/kitten/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2350 [KittenV3] Delete unused `RewardCard`.
  CHANGELOG.md
  assets/javascripts/kitten/components/cards/reward-card/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/cards/reward-card/components/checked-icon-line.js
  assets/javascripts/kitten/components/cards/reward-card/components/checked-section.js
  assets/javascripts/kitten/components/cards/reward-card/components/diamond-badge.js
  assets/javascripts/kitten/components/cards/reward-card/components/image.js
  assets/javascripts/kitten/components/cards/reward-card/components/info.js
  assets/javascripts/kitten/components/cards/reward-card/components/row-content.js
  assets/javascripts/kitten/components/cards/reward-card/components/row-side.js
  assets/javascripts/kitten/components/cards/reward-card/components/row.js
  assets/javascripts/kitten/components/cards/reward-card/components/starred-badge.js
  assets/javascripts/kitten/components/cards/reward-card/components/title.js
  assets/javascripts/kitten/components/cards/reward-card/components/video.js
  assets/javascripts/kitten/components/cards/reward-card/index.js
  assets/javascripts/kitten/components/cards/reward-card/stories.js
  assets/javascripts/kitten/components/cards/reward-card/styles.js
  assets/javascripts/kitten/components/cards/reward-card/test.js
  assets/javascripts/kitten/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2343 [KittenV3] Migrate and remove `k-HeaderNav`
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/navigation/header-nav/index.js
  assets/javascripts/kitten/components/navigation/header-nav/styles.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/navigation/_header-nav.scss
Labels: Kitten V3 🐱, To release :rocket:

#2335 [KittenV3] Remove `FormRow` component.
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/form/form-row/index.js
  assets/javascripts/kitten/components/form/form-row/test.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/form/_form-row.scss
Labels: Kitten V3 🐱, To release :rocket:

#2338 [KittenV3] Remove `Search` component.
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/form/search/index.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/form/_search-input.scss
Labels: Kitten V3 🐱, Needs review :hand:

#2339 [KittenV3] Update LinkList component
  .storybook/stylesheets/app-kitten.scss
  .storybook/stylesheets/custom/_background.scss
  .storybook/stylesheets/custom/_flex.scss
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/links/link-list/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/links/link-list/index.js
  assets/javascripts/kitten/components/links/link-list/link-list.stories.js
  assets/javascripts/kitten/components/links/link-list/link-list.stories.mdx
  assets/javascripts/kitten/components/links/link-list/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/links/_link-list.scss
Labels: Kitten V3 🐱, To release :rocket:

#2367 [KittenV3] Remove old NavTabCarousel
  CHANGELOG.md
  assets/javascripts/kitten/components/carousel/tab-bar-carousel/index.js
  assets/javascripts/kitten/components/links/link-list/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/links/link-list/index.js
  assets/javascripts/kitten/components/links/link-list/link-list.stories.js
  assets/javascripts/kitten/components/links/link-list/test.js
  src/components/carousel/tab-bar-carousel/index.js
  src/esm/components/carousel/tab-bar-carousel/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2325 [KittenV3] Remove Slider and LoanSimulator
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/form/slider/index.js
  assets/javascripts/kitten/components/form/slider/stories.js
  assets/javascripts/kitten/components/simulators/loan-simulator.js
  assets/javascripts/kitten/components/sliders/slider-bar/index.js
  assets/javascripts/kitten/components/sliders/slider-bar/stories.js
  assets/javascripts/kitten/components/sliders/slider-tooltip.js
  assets/javascripts/kitten/components/sliders/slider-with-tooltip-and-power.js
  assets/javascripts/kitten/handlers/sliders/slider-key-down-handler.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/form/_slider-tooltip.scss
  assets/stylesheets/kitten/components/form/_slider.scss
  assets/stylesheets/kitten/components/simulators/_loan-simulator.scss
Labels: Kitten V3 🐱, To release :rocket:

#2361 [KittenV3] Remove `Uploader` and `SimpleUploader`
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/uploaders/simple-uploader/index.js
  assets/javascripts/kitten/components/uploaders/simple-uploader/simple-uploader.stories.js
  assets/javascripts/kitten/components/uploaders/simple-uploader/test.js
  assets/javascripts/kitten/components/uploaders/uploader/index.js
  assets/javascripts/kitten/components/uploaders/uploader/test.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/uploaders/_simple-uploader.scss
  package-lock.json
  package.json
  src/components/uploaders/simple-uploader/index.js
  src/components/uploaders/uploader/index.js
  src/esm/components/uploaders/simple-uploader/index.js
  src/esm/components/uploaders/uploader/index.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2341 [KttenV3] Update Text component
  CHANGELOG.md
  assets/javascripts/kitten/components/typography/text/index.js
  assets/javascripts/kitten/components/typography/text/text.stories.js
  assets/javascripts/kitten/components/typography/text/text.stories.mdx
Labels: Kitten V3 🐱, Needs review :hand:

#2353 [KittenV3] Update SupTitle component
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/typography/sup-title/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/typography/sup-title/index.js
  assets/javascripts/kitten/components/typography/sup-title/sup-title.stories.js
  assets/javascripts/kitten/components/typography/sup-title/sup-title.stories.mdx
  assets/javascripts/kitten/components/typography/sup-title/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/typography/_sup-title.scss
Labels: Kitten V3 🐱, Needs review :hand:

#2388 [ToggleSwitch] Add `onChange` to API
  CHANGELOG.md
  assets/javascripts/kitten/components/form/toggle-switch/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/toggle-switch/index.js
  assets/javascripts/kitten/components/form/toggle-switch/stories.js
Labels: Needs review :hand:

#2348 [V3] Migrate `InformationBox` and remove `k-InformationBox`
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/box/information-box/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/box/information-box/index.js
  assets/javascripts/kitten/components/box/information-box/stories.js
  assets/javascripts/kitten/components/box/information-box/test.js
  assets/javascripts/kitten/components/typography/sup-title/index.js
  assets/javascripts/kitten/components/typography/sup-title/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/box/_information-box.scss
Labels: Kitten V3 🐱, To release :rocket:

#2376 [KittenV3] Remove k-VerticalStroke mixin
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/cards/triptych/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/vertical-stroke/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/vertical-stroke/index.js
  assets/javascripts/kitten/components/layout/vertical-stroke/stories.js
  assets/javascripts/kitten/components/layout/vertical-stroke/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/layout/_vertical-stroke.scss
  src/components/layout/vertical-stroke/index.js
  src/esm/components/layout/vertical-stroke/index.js
Labels: Kitten V3 🐱, Needs review :hand:

#2378 [KittenV3] Remove `k-VerticalSeparator` and `k-separatorBase` mixins
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/layout/separator/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/separator/index.js
  assets/javascripts/kitten/components/layout/separator/stories.js
  assets/javascripts/kitten/components/layout/separator/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/_helpers.scss
  assets/stylesheets/kitten/components/layout/_separator.scss
  assets/stylesheets/kitten/components/layout/_vertical-separator.scss
  assets/stylesheets/kitten/helpers/_separator.scss
  assets/stylesheets/kitten/helpers/separator/_base.scss
  src/components/layout/separator/index.js
  src/esm/components/layout/separator/index.js
Labels: Kitten V3 🐱, Needs base jump :baseball:, Needs review :hand:

#2346 [V3] Replace Switch with ToggleSwitch
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/form/switch/index.js
  assets/javascripts/kitten/components/form/switch/test.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/form/_switch.scss
Labels: Kitten V3 🐱, To release :rocket:

#2369 [KittenV3] Remove deprecated Header components
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/dropdowns/user-menu/index.js
  assets/javascripts/kitten/components/headers/header-logo/index.js
  assets/javascripts/kitten/components/headers/header-logo/test.js
  assets/javascripts/kitten/components/headers/header-titles/index.js
  assets/javascripts/kitten/components/headers/header-titles/test.js
  assets/javascripts/kitten/components/headers/header/index.js
  assets/javascripts/kitten/components/headers/header/test.js
  assets/javascripts/kitten/index.js
  assets/javascripts/kitten/karl/pages/partner/components/page.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/headers/_header.scss
  assets/stylesheets/kitten/components/navigation/_user-menu.scss
  assets/stylesheets/kitten/helpers/utility/_media.scss
  src/components/dropdowns/user-menu/index.js
  src/components/headers/header-logo/index.js
  src/components/headers/header-titles/index.js
  src/components/headers/header/index.js
  src/esm/components/dropdowns/user-menu/index.js
  src/esm/components/headers/header-logo/index.js
  src/esm/components/headers/header-titles/index.js
  src/esm/components/headers/header/index.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2322 [KittenV3] Remove Header & deprecated Dropdown components and Styles
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/dropdowns/dropdown-button/index.js
  assets/javascripts/kitten/components/dropdowns/dropdown/index.js
  assets/javascripts/kitten/components/dropdowns/phone-dropdown/index.js
  assets/javascripts/kitten/components/dropdowns/user-menu/index.js
  assets/javascripts/kitten/components/lists/nav-list/index.js
  assets/javascripts/kitten/index.js
  assets/javascripts/kitten/karl/pages/partner/components/page.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/dropdowns/_phone-dropdown.scss
Labels: Kitten V3 🐱, Needs review :hand:

#2366 [KittenV3] Remove ImageWithCaption
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/images/image-with-caption/index.js
  assets/javascripts/kitten/components/images/image-with-caption/test.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/images/_image-with-caption.scss
  src/components/images/image-with-caption/index.js
  src/esm/components/images/image-with-caption/index.js
  src/esm/index.js
  src/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2368 [KittenV3] Remove deprecated form comment components
  CHANGELOG.md
  assets/javascripts/kitten/components/form/comment-avatar/index.js
  assets/javascripts/kitten/components/form/comment-form/index.js
  assets/javascripts/kitten/components/form/comment/index.js
  src/components/form/comment-avatar/index.js
  src/components/form/comment-form/index.js
  src/components/form/comment/index.js
  src/esm/components/form/comment-avatar/index.js
  src/esm/components/form/comment-form/index.js
  src/esm/components/form/comment/index.js
Labels: Kitten V3 🐱, To release :rocket:

#2344 [V3] Migrate `Badge` and `IconBadge`
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/atoms/badge/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/atoms/badge/index.js
  assets/javascripts/kitten/components/atoms/badge/stories.js
  assets/javascripts/kitten/components/atoms/badge/test.js
  assets/javascripts/kitten/components/atoms/icon-badge/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/atoms/icon-badge/index.js
  assets/javascripts/kitten/components/atoms/icon-badge/stories.js
  assets/javascripts/kitten/components/atoms/icon-badge/test.js
  assets/javascripts/kitten/components/avatar/avatar-with-text-and-badge/index.js
  assets/javascripts/kitten/components/buttons/button-image-with-text-and-badge/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/buttons/button-image-with-text-and-badge/index.js
  assets/javascripts/kitten/components/menus/header-menu/components/badge.js
  assets/javascripts/kitten/components/navigation/horizontal-nav/index.js
  assets/javascripts/kitten/components/notifications/__snapshots__/badge.test.js.snap
  assets/javascripts/kitten/components/notifications/badge.js
  assets/javascripts/kitten/components/notifications/badge.test.js
  assets/javascripts/kitten/components/notifications/icon-badge.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/notifications/_badge.scss
  assets/stylesheets/kitten/components/notifications/_icon-badge.scss
Labels: Kitten V3 🐱, To release :rocket:

#2385 [DashboardMenu] Add Dashboard Menu
  CHANGELOG.md
  assets/javascripts/kitten/components/icons/file-icon/index.js
  assets/javascripts/kitten/components/icons/home-icon/index.js
  assets/javascripts/kitten/components/icons/icons.stories.js
  assets/javascripts/kitten/components/icons/loudspeaker-icon/index.js
  assets/javascripts/kitten/components/icons/shield-icon/index.js
  assets/javascripts/kitten/components/icons/tag-icon/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/dashboard-layout/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/stories.js
  assets/javascripts/kitten/components/menus/dashboard-menu/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/menus/dashboard-menu/index.js
  assets/javascripts/kitten/components/menus/dashboard-menu/stories.js
  assets/javascripts/kitten/components/menus/dashboard-menu/test.js
  assets/javascripts/kitten/helpers/react/react-elements.js
  assets/javascripts/kitten/index.js
Labels: Needs review :hand:

#2389 [DashboardLayout] Add Flow sub-component
  CHANGELOG.md
  assets/javascripts/kitten/components/illustrations/lightbulb-illustration.js
  assets/javascripts/kitten/components/layout/dashboard-layout/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/side-card.js
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/side-modal.js
  assets/javascripts/kitten/components/layout/dashboard-layout/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/stories.js
  assets/javascripts/kitten/components/layout/dashboard-layout/test.js
  assets/javascripts/kitten/components/tables/list-table/list-table.stories.js
  assets/javascripts/kitten/helpers/dom/use-focus-trap/index.js
  assets/javascripts/kitten/helpers/dom/use-modal/index.js
Labels: Needs review :hand:

#2383 [DashboardLayout] Create new view
  CHANGELOG.md
  assets/javascripts/kitten/components/icons/file-icon/index.js
  assets/javascripts/kitten/components/icons/home-icon/index.js
  assets/javascripts/kitten/components/icons/icons.stories.js
  assets/javascripts/kitten/components/icons/loudspeaker-icon/index.js
  assets/javascripts/kitten/components/icons/shield-icon/index.js
  assets/javascripts/kitten/components/icons/tag-icon/index.js
  assets/javascripts/kitten/components/illustrations/lightbulb-illustration.js
  assets/javascripts/kitten/components/layout/dashboard-layout/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/side-card.js
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/side-modal.js
  assets/javascripts/kitten/components/layout/dashboard-layout/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/stories.js
  assets/javascripts/kitten/components/layout/dashboard-layout/test.js
  assets/javascripts/kitten/components/menus/dashboard-menu/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/menus/dashboard-menu/index.js
  assets/javascripts/kitten/components/menus/dashboard-menu/stories.js
  assets/javascripts/kitten/components/menus/dashboard-menu/test.js
  assets/javascripts/kitten/components/tables/list-table/list-table.stories.js
  assets/javascripts/kitten/config/__mocks__/matchMediaMock.js
  assets/javascripts/kitten/constants/colors-config.js
  assets/javascripts/kitten/helpers/dom/use-focus-trap/index.js
  assets/javascripts/kitten/helpers/dom/use-modal/index.js
  assets/javascripts/kitten/helpers/react/react-elements.js
  assets/javascripts/kitten/index.js
Labels: Needs review :hand:

#2390 v2.121.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/icons/file-icon/index.js
  src/components/icons/home-icon/index.js
  src/components/icons/loudspeaker-icon/index.js
  src/components/icons/shield-icon/index.js
  src/components/icons/tag-icon/index.js
  src/components/illustrations/lightbulb-illustration.js
  src/components/layout/dashboard-layout/flow/index.js
  src/components/layout/dashboard-layout/flow/side-card.js
  src/components/layout/dashboard-layout/flow/side-modal.js
  src/components/layout/dashboard-layout/index.js
  src/components/menus/dashboard-menu/index.js
  src/constants/colors-config.js
  src/esm/components/icons/file-icon/index.js
  src/esm/components/icons/home-icon/index.js
  src/esm/components/icons/loudspeaker-icon/index.js
  src/esm/components/icons/shield-icon/index.js
  src/esm/components/icons/tag-icon/index.js
  src/esm/components/illustrations/lightbulb-illustration.js
  src/esm/components/layout/dashboard-layout/flow/index.js
  src/esm/components/layout/dashboard-layout/flow/side-card.js
  src/esm/components/layout/dashboard-layout/flow/side-modal.js
  src/esm/components/layout/dashboard-layout/index.js
  src/esm/components/menus/dashboard-menu/index.js
  src/esm/constants/colors-config.js
  src/esm/helpers/dom/use-focus-trap/index.js
  src/esm/helpers/dom/use-modal/index.js
  src/esm/helpers/react/react-elements.js
  src/esm/index.js
  src/helpers/dom/use-focus-trap/index.js
  src/helpers/dom/use-modal/index.js
  src/helpers/react/react-elements.js
  src/index.js
Labels: Needs review :hand:

#2391 v3.0.0 beta.4
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/atoms/badge/index.js
  src/components/atoms/icon-badge/index.js
  src/components/avatar/avatar-with-text-and-badge/index.js
  src/components/box/information-box/index.js
  src/components/buttons/button-image-with-text-and-badge/index.js
  src/components/dropdowns/dropdown-button/index.js
  src/components/dropdowns/dropdown/index.js
  src/components/dropdowns/phone-dropdown/index.js
  src/components/dropdowns/user-menu/index.js
  src/components/form/switch/index.js
  src/components/form/toggle-switch/index.js
  src/components/layout/dashboard-layout/index.js
  src/components/lists/nav-list/index.js
  src/components/menus/dashboard-menu/index.js
  src/components/menus/header-menu/components/badge.js
  src/components/navigation/horizontal-nav/index.js
  src/components/notifications/badge.js
  src/components/notifications/icon-badge.js
  src/esm/components/atoms/badge/index.js
  src/esm/components/atoms/icon-badge/index.js
  src/esm/components/avatar/avatar-with-text-and-badge/index.js
  src/esm/components/box/information-box/index.js
  src/esm/components/buttons/button-image-with-text-and-badge/index.js
  src/esm/components/dropdowns/dropdown-button/index.js
  src/esm/components/dropdowns/dropdown/index.js
  src/esm/components/dropdowns/phone-dropdown/index.js
  src/esm/components/dropdowns/user-menu/index.js
  src/esm/components/form/switch/index.js
  src/esm/components/form/toggle-switch/index.js
  src/esm/components/layout/dashboard-layout/index.js
  src/esm/components/lists/nav-list/index.js
  src/esm/components/menus/dashboard-menu/index.js
  src/esm/components/menus/header-menu/components/badge.js
  src/esm/components/navigation/horizontal-nav/index.js
  src/esm/components/notifications/badge.js
  src/esm/components/notifications/icon-badge.js
  src/esm/index.js
  src/index.js
Labels: Needs review :hand:

#2393 [KittenV3] Bump Browserlist and update browserlist setting
  babel.config.js
  package-lock.json
  package.json
  src/stylesheets/utilities.css
Labels: Needs review :hand:

#2396 [CheckableButton] Fix focus styles
  CHANGELOG.md
  assets/javascripts/kitten/components/buttons/checkable-button/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/buttons/checkable-button/index.js
Labels: Needs review :hand:

#2394 [DashboardLayout] Fix display bugs
  CHANGELOG.md
  assets/javascripts/kitten/components/layout/dashboard-layout/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/side-modal.js
  assets/javascripts/kitten/components/layout/dashboard-layout/index.js
  assets/javascripts/kitten/components/layout/dashboard-layout/stories.js
  assets/javascripts/kitten/components/menus/dashboard-menu/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/menus/dashboard-menu/index.js
  assets/javascripts/kitten/helpers/react/react-elements.js
Labels: Needs review :hand:

#2398 v2.122.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/buttons/checkable-button/index.js
  src/components/layout/dashboard-layout/flow/index.js
  src/components/layout/dashboard-layout/flow/side-modal.js
  src/components/layout/dashboard-layout/index.js
  src/components/menus/dashboard-menu/index.js
  src/components/navigation/header-nav/index.js
  src/esm/components/buttons/checkable-button/index.js
  src/esm/components/layout/dashboard-layout/flow/index.js
  src/esm/components/layout/dashboard-layout/flow/side-modal.js
  src/esm/components/layout/dashboard-layout/index.js
  src/esm/components/menus/dashboard-menu/index.js
  src/esm/components/navigation/header-nav/index.js
  src/esm/helpers/react/react-elements.js
  src/helpers/react/react-elements.js
Labels: Needs review :hand:

#2373 [KittenV3] Migrate `Cropper` from SCSS to Styled Components
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/images/image-cropper/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/images/image-cropper/image-cropper.stories.js
  assets/javascripts/kitten/components/images/image-cropper/index.js
  assets/javascripts/kitten/components/images/image-cropper/styles.js
  assets/stylesheets/kitten/_components.scss
Labels: Kitten V3 🐱, To release :rocket:

#2347 [V3] Migrate and move `Loader` and `LoaderWithParagraph` components
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/atoms/loader-with-paragraph/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/atoms/loader-with-paragraph/index.js
  assets/javascripts/kitten/components/atoms/loader-with-paragraph/stories.js
  assets/javascripts/kitten/components/atoms/loader-with-paragraph/test.js
  assets/javascripts/kitten/components/atoms/loader/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/atoms/loader/index.js
  assets/javascripts/kitten/components/atoms/loader/stories.js
  assets/javascripts/kitten/components/atoms/loader/test.js
  assets/javascripts/kitten/components/form/autocomplete/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/autocomplete/index.js
  assets/javascripts/kitten/components/form/field/__snapshots__/field.test.js.snap
  assets/javascripts/kitten/components/form/text-input-with-button/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/text-input-with-button/test.js
  assets/javascripts/kitten/components/form/text-input-with-button/text-input-with-button.stories.js
  assets/javascripts/kitten/components/images/image-cropper/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/dashboard-layout/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/dashboard-layout/flow/index.js
  assets/javascripts/kitten/components/loaders/loader-with-paragraph/index.js
  assets/javascripts/kitten/components/loaders/loader-with-paragraph/test.js
  assets/javascripts/kitten/components/loaders/loader/index.js
  assets/javascripts/kitten/components/loaders/loader/test.js
  assets/javascripts/kitten/components/uploaders/basic-uploader/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/uploaders/basic-uploader/index.js
  assets/javascripts/kitten/components/uploaders/basic-uploader/stories.js
  assets/javascripts/kitten/components/uploaders/document-manager/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/uploaders/document-manager/document-manager.stories.js
  assets/javascripts/kitten/components/uploaders/document-manager/index.js
  assets/javascripts/kitten/components/videos/video/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/videos/video/test.js
  assets/javascripts/kitten/components/videos/video/video.stories.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/loaders/_loader-with-paragraph.scss
  assets/stylesheets/kitten/components/loaders/_loader.scss
Labels: Kitten V3 🐱, To release :rocket:

#2329 [KittenV3] Migrate DevGrid to Styled Components
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/dev/dev-grid.js
  assets/javascripts/kitten/components/dev/dev-grid/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/dev/dev-grid/index.js
  assets/javascripts/kitten/components/dev/dev-grid/test.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/dev/_dev-breakpoint.scss
  assets/stylesheets/kitten/components/dev/_dev-grid.scss
  doc/usage/using-kitten.stories.mdx
Labels: Kitten V3 🐱, To release :rocket:

#2399 v3.0.0-beta.5
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/atoms/loader-with-paragraph/index.js
  src/components/atoms/loader/index.js
  src/components/dev/dev-grid.js
  src/components/dev/dev-grid/index.js
  src/components/form/autocomplete/index.js
  src/components/images/image-cropper/index.js
  src/components/images/image-cropper/styles.js
  src/components/layout/dashboard-layout/flow/index.js
  src/components/loaders/loader-with-paragraph/index.js
  src/components/loaders/loader/index.js
  src/components/navigation/header-nav/styles.js
  src/components/uploaders/basic-uploader/index.js
  src/components/uploaders/document-manager/index.js
  src/esm/components/atoms/loader-with-paragraph/index.js
  src/esm/components/atoms/loader/index.js
  src/esm/components/dev/dev-grid.js
  src/esm/components/dev/dev-grid/index.js
  src/esm/components/form/autocomplete/index.js
  src/esm/components/images/image-cropper/index.js
  src/esm/components/images/image-cropper/styles.js
  src/esm/components/layout/dashboard-layout/flow/index.js
  src/esm/components/loaders/loader-with-paragraph/index.js
  src/esm/components/loaders/loader/index.js
  src/esm/components/navigation/header-nav/styles.js
  src/esm/components/uploaders/basic-uploader/index.js
  src/esm/components/uploaders/document-manager/index.js
  src/esm/index.js
  src/index.js
Labels: Needs review :hand:

#2402 [KittenV3] Migrate `Line`
  .storybook/stylesheets/kitten/_components.scss
  CHANGELOG.md
  assets/javascripts/kitten/components/form/credit-card-form/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/form/field/__snapshots__/field.test.js.snap
  assets/javascripts/kitten/components/layout/line/__snapshots__/test.js.snap
  assets/javascripts/kitten/components/layout/line/index.js
  assets/javascripts/kitten/components/layout/line/stories.js
  assets/javascripts/kitten/components/layout/line/test.js
  assets/javascripts/kitten/helpers/dom/use-flex-gap-check/index.js
  assets/javascripts/kitten/index.js
  assets/stylesheets/kitten/_components.scss
  assets/stylesheets/kitten/components/layout/_line.scss
Labels: Kitten V3 🐱, Needs review :hand:
